<section class="content-header">
    <h1>
        {{vm.deployment.name}}
        <small>Run deployment</small>
    </h1>
</section>

<section class="content">
    <div data-ng-include="'/js/app/partials/alerts.html'"></div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Source</h3>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>Repository</dt>
                        <dd>{{vm.deployment.repository.name}}</dd>

                        <dt>Branch</dt>
                        <dd>{{vm.deployment.branch}}</dd>

                        <dt>Revision</dt>
                        <dd>
                            <span class="fa fa-spinner fa-pulse" ng-show="!vm.localRevision"></span>
                            {{vm.localRevision}}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Target</h3>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>Server</dt>
                        <dd>{{vm.deployment.server.name}}</dd>

                        <dt>Path</dt>
                        <dd>{{vm.deployment.target_path}}</dd>

                        <dt>Revision</dt>
                        <dd>
                            <span class="fa fa-spinner fa-pulse" ng-show="!vm.remoteRevision"></span>
                            {{vm.remoteRevision}}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <button class="btn btn-info" data-ng-click="vm.triggerGetChangedFiles()"><i class="fa fa-list"></i> List Changes</button>
                    <button class="btn btn-success" data-ng-click="vm.triggerDeploy()"><i class="fa fa-play"></i> Deploy</button>
                    <a href="/deployments" class="pull-right btn btn-default"><i class="fa fa-chevron-left"></i> Back</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12" data-ng-if="vm.changedFiles.length">
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Changed files since last deploy</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool">
                            <span class="fa fa-times" data-ng-click="vm.closeChangedFiles()"></span>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td>#</td>
                            <th>Type</th>
                            <th>File</th>
                            <th></th>
                        </tr>
                        <tr data-ng-repeat="fileItem in vm.changedFiles">
                            <td>{{ $index + 1 }}</td>
                            <td><span data-changed-file-status="" data-type="fileItem.type"></span></td>
                            <td>{{ fileItem.file }}</td>
                            <td>
                                <button class="btn btn-xs btn-default" data-ng-click="vm.triggerShowDiff($index)">
                                    <span class="fa fa-columns"></span> Diff
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xs-12" data-ng-if="vm.diff">
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">File Diff</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool">
                            <span class="fa fa-times" data-ng-click="vm.closeDiff()"></span>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div data-ng-bind-html="vm.diff"></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div data-ng-include="'/js/app/partials/console.html'"></div>
        </div>
    </div>
</section>