<section class="content">
    <div data-ng-include="'/js/app/partials/alerts.html'"></div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Please enter master password</h3>
                </div>

                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input data-ng-model="vm.password" type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                    </div>

                    <div class="box-footer">
                        <button data-ng-click="vm.login()" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>