<section class="content">
    <div data-ng-include="'/js/app/partials/alerts.html'"></div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-primary" data-ng-if="vm.systemUserExists">
                <div class="box-header with-border">
                    <h3 class="box-title">Please login</h3>
                </div>

                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input data-ng-model="vm.password" type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                    </div>

                    <div class="box-footer">
                        <button data-ng-click="vm.login()" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>

            <div class="box box-primary" data-ng-if="!vm.systemUserExists">
                <div class="box-header with-border">
                    <h3 class="box-title">Create system user</h3>
                </div>

                <form role="form">
                    <div class="box-body">
                        <p>
                            It seems like you did not create a system user yet. Please enter a password for the
                            system user now.
                        </p>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input data-ng-model="vm.password" type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="password">Repeat Password</label>
                            <input data-ng-model="vm.password_verify" type="password" class="form-control" id="password_verify" placeholder="Repeat Password">
                        </div>
                    </div>

                    <div class="box-footer">
                        <button data-ng-click="vm.createSystemUser()" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>