<section class="content-header">
    <h1>
        Servers
        <small>Server Management</small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Responsive Hover Table</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Server</th>
                        </tr>
                        <tr data-ng-repeat="server in getServers()">
                            <td>{{server.id}}</td>
                            <td>{{server.name}}</td>
                        </tr>
                    </table>
                </div><!-- /.box-body -->
                <div class="overlay" data-ng-show="isLoading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div><!-- /.box -->

            <div data-ng-include="'/js/app/partials/console.html'"></div>
        </div>
    </div>
</section>