<section class="content-header">
    <h1>
        Servers
        <small>Overview</small>
    </h1>
    <div class="header-toolbar">
        <a href="/servers/add" class="btn btn-success pull-right">Add Server</a>
    </div>
</section>

<section class="content">
    <div data-ng-include="'/js/app/partials/alerts.html'"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Server</th>
                            <th></th>
                        </tr>
                        <tr data-ng-repeat="server in getServers()">
                            <td>{{server.id}}</td>
                            <td>{{server.name}}</td>
                            <td class="text-right">
                                <a href="/servers/edit/{{server.id}}" type="button" class="btn btn-sm btn-info">
                                    <i class="fa fa-pencil"></i> Edit
                                </a>
                                <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-times"></i> Delete</button>
                            </td>
                        </tr>
                    </table>
                </div><!-- /.box-body -->
                <div class="overlay" data-ng-show="isLoading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div><!-- /.box -->

            <!-- <div data-ng-include="'/js/app/partials/console.html'"></div> -->
        </div>
    </div>
</section>