# Eclipse/PDT
/.settings/
/.buildpath
/.project

# PhpStorm
.idea

# Netbeans
/nbproject/

# OSX
**.DS_Store

# Composer/Gulp
/vendor
/node_modules
composer.lock

# Project
/src/ShinyDeploy/config.php
/www/js/config.js