<section class="content">
    <div data-ng-include="'/js/app/shared/views/alerts.html'"></div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Please login</h3>
                </div>

                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input data-ng-model="vm.username"
                                       name="username"
                                       type="text"
                                       class="form-control"
                                       id="username"
                                       placeholder="Username">
                            </div>

                            <label for="password">Password</label>
                            <input data-ng-model="vm.password"
                                   name="password"
                                   type="password"
                                   class="form-control"
                                   id="password"
                                   placeholder="Password">
                        </div>
                    </div>

                    <div class="box-footer">
                        <button data-ng-click="vm.login()" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>