@import url("../../fonts/source-code-pro.css");

/** Nanoscroller **/
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nano > .nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.nano > .nano-content:focus {
    outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
    display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
    display: block;
}
.nano > .nano-pane {
    background: rgba(0,0,0,.25);
    position: absolute;
    width: 10px;
    right: 0;
    top : 0;
    bottom: 0;
    opacity: .01;
    transition: .2s;
    border-radius: 5px;
}
.nano > .nano-pane > .nano-slider {
    background: #444;
    background: rgba(0,0,0,.5);
    position: relative;
    margin: 0 1px;
    border-radius: 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
    opacity: 0.99;
}

#console {
    background-color: #272822;
    margin-top: 10px;
    height: 200px;
    border-radius: 3px;
}
#log {
    color: #75715e;
    margin: 6px 0 0 0;
    padding: 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
}
#log .log-time:before {
    content: "[";
}
#log .log-time:after {
    content: "]";
}
#log .log-source {
    /*color: #f8f8f2;*/
}
#log .log-source:before {
    content: "";
}
#log .log-source:after {
    content: " >";
}
#log .log-default {
    color: #f8f8f2;
}
#log .log-success {
    color: #a6e22e;
}
#log .log-info {
    color: #66d9ef;
}
#log .log-danger {
    color: #e6db74;
}
#log .log-error {
    color: #f92672;
}
#console .nano-pane {
    background-color: #272727;
}
#console .nano-pane .nano-slider {
    background-color: #4a4a4a;
}